#contact-wrap {
    color: #F3EAAF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -8vw;
}
#talk {
    font-size: 10vw;
    display: block;
    margin-right: 10vw;
    position: relative;
    transition: ease-in-out 300ms;

}

#talk:hover {
    transform: translate(-.5vw, -.5vw);
    text-shadow: 3px 5px 8px teal;
    transition: ease-in-out 300ms;
}

input {
    display: block;
    margin-bottom: 1vh;
    color:  #F3EAAF;
}
input::placeholder, input:focus {
    color:  #F3EAAF;
    outline-width: 0;
}

textarea, textarea:focus, textarea::placeholder {
    background-color: #88A096;
    border:none;
    outline-width: 0;
    width: 20vw;
    height: 30vh;
    color:  #F3EAAF;
    font-size: 1.5vw;

}

#send-btn {
    background-color: #88A096;
    border: 5px solid #F3EAAF;
    border-radius: 10px;
    width: 25vw;
    height: 8vh;
    font-size: 3vw;
    transition: ease-in-out 300ms;
}

#send-btn:hover {
    background-color: #F3EAAF;
    transition: ease-in-out 300ms;
    color: #88A096;
    transform: translate(-.5vw, -.5vw);
    box-shadow: 3px 5px 8px teal;
}



#email-input {
    font-size: 3vw;
    width: 25vw;
    height: 5vh;
    border: none;
    border-bottom: 1px solid #F3EAAF;
    background-color: #88A096;
    border-radius: 5px;
}

#social-bar {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    margin-left: -9vw;
    margin-right: 5vw;
}

a{
    margin-bottom: 1vh;
    color: #F3EAAF;
    box-shadow: 3px 5px 8px teal inset;
    animation-name: from-outset;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

a:hover{
    box-shadow: 3px 5px 8px teal inset;
    animation-name: from-inset;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.social {
    width: 3vw;
    height: 3vw;
}

@keyframes from-inset {
    0%{

    }
    50%{
        box-shadow: none;
    }
    100% {
        transform: translate(-.5vw, -.5vw);
        box-shadow: 3px 5px 8px teal;
    }
    
}

@keyframes from-outset {
    0% {
        transform: translate(-.5vw, -.5vw);
        box-shadow: 3px 5px 8px teal;
    }
    50% {
        box-shadow: none;
    }
    100%{
        transform: none;
        box-shadow: 3px 5px 8px teal inset;
    }
    
}

